html{
    height: 100%;
}

body{
    background-image: url(/img/earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:rgb(48, 48, 48);
}

header h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

main a{
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    font-weight: bold;
}

main a:hover{
    text-decoration: underline;
}

nav{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 22px;
}